.reveal .giant {
  font-size: 600px;
  line-height: 0.8;
  -webkit-transition: color 3000ms linear;
          transition: color 3000ms linear; }

.reveal ul li {
  font-size: 36px; }

.reveal button,
.reveal .button {
  border: none;
  background: #fff;
  padding: 10px 15px;
  font-size: 20px;
  color: #444;
  margin-bottom: 10px; }
  .reveal button.on:after,
  .reveal .button.on:after {
    content: ': ON'; }

/**
 * D3 Styles
 */
.reveal .h-bar {
  min-height: 15px;
  min-width: 10px;
  background-color: steelblue;
  margin-bottom: 5px;
  font-size: 20px;
  color: #f0f8ff;
  text-align: right;
  padding-right: 2px; }
  .reveal .h-bar span {
    font-size: 20px; }

.reveal .selected {
  background-color: #f08080; }

.reveal .hide {
  display: none; }

.reveal .v-bar {
  min-height: 1px;
  min-width: 30px;
  background-color: #4682b4;
  margin-right: 2px;
  font-size: 10px;
  color: #f0f8ff;
  text-align: center;
  width: 10px;
  display: inline-block; }

.reveal .axis path, .reveal .axis line {
  fill: none;
  stroke-width: 2px;
  stroke: #000;
  shape-rendering: crispEdges; }

.reveal .axis text {
  font: 10px sans-serif; }

.reveal .axis .grid-line {
  stroke: black;
  shape-rendering: crispEdges;
  stroke-opacity: .2; }

.reveal .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2; }

.reveal #example6 .chart,
.reveal #example5 .chart {
  min-height: 500px;
  min-width: 500px; }
  .reveal #example6 .chart svg,
  .reveal #example5 .chart svg {
    background: #fff; }

.reveal #example7 .chart {
  min-height: 500px;
  min-width: 960px; }
  .reveal #example7 .chart path {
    fill: #ccc;
    stroke: #fff;
    stroke-width: .5px; }
  .reveal #example7 .chart path:hover {
    fill: red; }

.reveal #example8 .chart {
  min-height: 100px;
  min-width: 680px;
  position: relative; }
  .reveal #example8 .chart .v-bar {
    min-width: 40px; }

.reveal #example9 .chart svg {
  background: #fff; }
